
html, body {
    min-width: 960px;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #000000;
    overflow: hidden;
}

a { 
    color: skyblue;
}

.centered {
    text-align: center;
}

#clockwork {
    min-height: 100%;
}

/* 
canvas is normally displayed 
inline and has a line-height, 
making scroll bars 
*/
canvas {
    display: block;
}

.textureControls {
    text-align: center;
    position: relative;
}

.textureButtonUndo {
    color: darkred;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    cursor: pointer;
}

.textureButtonUndo:hover {
    color: red;
}

.textureButtonSave {
    color: green;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    cursor: pointer;
}

.textureButtonSave:hover {
    color: lightgreen;
}

.textureButton {
    margin-top: 2px;
    padding: 0px 5px;
}


.createButton {
    width: 100%;
    margin-top: 6px;
}

#objectEditPanel {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
}

.innerPanel {
    position: absolute;
    top: 32px;
    right: 0px;
    width: 100%;
    height: 100%;
    border-left: 3px ridge #404040;
    background-color: #202020;
    box-sizing: border-box;
    padding: 8px;
    color: #dddddd;
}

.innerPanelHeading {
    color: #bbb;
    background-color: #444;
    background-image: -webkit-linear-gradient(top, #050505 0%, #181818 100%);
    background-image: linear-gradient(to bottom, #050505 0%, #181818 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff050505', endColorstr='#ff181818', GradientType=0);
    padding: 10px 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: default;
}

.editPanelSelect {
    width: 100%;
    border-radius: 6px;
    color: black;
    padding: 3px;
}



/* 
clearfix taken from 
http://html5boilerplate.com/ 
*/
.clearfix:after { 
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
}

.clearfix { 
    display: inline-block;  
}

* html .clearfix {  
    height: 1%;  
}

/* Hides from IE-mac \*/
.clearfix {  
    display: block;  
}
/* end clearfix */

div {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.control-label {
    line-height: 34px;
    height: 34px;
}

#devInfo {
    position: absolute;
    left: 8px;
    bottom: 8px;
    border-radius: 3px;
    padding: 2px 4px;
}

#devInfo:hover {
    background-color: white;
}

#stats {
    position: absolute;
    left: 0px;
    top: 30px;
}

#clockworkTools {
    position: absolute;
    color: white;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: #000;
    padding-left: 8px;
    background-image: url('../img/menuBarBG.png');
    z-index: 10;
    box-sizing: border-box;
}

#clockworkTools .sectionBreak {
    display: inline-block;
    width: 2px;
    height: 18px;
    background-color: #eee;
    margin: -2px 2px 0px 2px;
    vertical-align: middle;
}

#toolIcons {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 30%;
    text-align: right;
}

.menuButton {
    margin-top: -5px;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 2px;
    opacity: 0.5;
}

.menuButton:hover {
    background-color: green;
}

.menuButton.active {
    opacity: 1.0;
    color: #00b0dd;
}

.transform_tab {
    position: absolute;
    left: -143px;
    width: 143px;
    top: 0px;
    padding: 4px 0px;
    background-image: url('../img/tab.png');
    background-size: 100% 100%;
    color: #ddd;
    text-align: center;
    font-size: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    transform: rotate(-90deg);
    transform-origin: right bottom 0;
}

.transform_tab:hover {
    color: #f1c57f;
}

.transform_tab.active {
    color: #00b0dd;
}

.transform_tab + .innerPanel {
    display: none;
}

.transform_tab.active + .innerPanel {
    display: block;
}

#textureConstraint {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    overflow: auto;
}

#textureView {
}

.textureChoice {
    width: 42.5%;
    margin-left: 5%;
    display: inline-block;
    padding-bottom: 18px;
}

.texture {
    width: 100%;
    cursor: default;
    opacity: 0.5;
}

.texture.select-enabled {
    cursor: pointer;
    opacity: 1.0;
}

#objectEditTab {
    top: 10px;
}

#materialEditTab {
    top: 150px;
}


#textureEditTab {
    top: 290px;
}

#createTab {
    top: 430px;
}

.panel_row {

}

.panel_row label {
    font-weight: normal;
}

.panel_row h5 {
    margin: 4px 0px;
    color: #00b0dd;
    text-align: left;
}

/* A TYPE */
.panel_row.a_type {
    text-align: center;
}

.panel_row.a_type label {
    width: 15%;
}

/* B TYPE */
.panel_row.b_type {

}

.panel_row.b_type label {
    width: 85%;
    text-align: right;
}

.panel_row.b_type label span {
    width: 25%;
    text-align: right;
    display: inline-block;
}

.panel_row.b_type label input {
    width: 85%;
    color: #111;
    padding-right: 8px;
    text-align: right;
    box-sizing: border-box;
}

.panel_row.b_type label input.r_group {
    width: 27%;
    color: #111;
    padding-right: 8px;
    text-align: right;
    box-sizing: border-box;
}

.panel_row.b_type .glyphicon {
    display: inline-block;
    cursor: pointer;
}

/* C TYPE */
.panel_row.c_type {

}

.panel_row.c_type label {
    width: 100%;
    text-align: left;
}

.panel_row.c_type span {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.panel_row.c_type label input {
    width: 58%;
    text-align: right;
    color: #111;
    font-weight: normal;
    padding-right: 6px;
}

.panel_row.c_type label select {
    width: 58%;
    text-align: right;
    color: #111;
    font-weight: normal;
}

/* D TYPE */
.panel_row.d_type {

}

.panel_row.d_type > label {
    width: 40%;
    text-align: left;
}

.panel_row.d_type > div {
    display: inline-block;
    width: 58%;
    text-align: left;
    white-space:  nowrap;
}

.panel_row.d_type > div > label {
    width: 58%;
    text-align: center;
}

/* E TYPE */
.panel_row.e_type {

}

.panel_row.e_type .glyphicon {
    display: inline-block;
    cursor: pointer;
}

.panel_row.e_type > div {
    margin-bottom: 5px;
}

.panel_row.e_type .panel_label {
    width: 40%;
    text-align: left;
    display: inline-block;
}

.panel_row.e_type div input {
    width: 40%;
    color: #111;
    padding-right: 8px;
    text-align: right;
    box-sizing: border-box;
}

/* OVERWRITE STYLES */

/* NANO SCROLLBAR ON TEXTURE TAB */
.nano { 
    background: transparent; 
}

.nano > .nano-content { 
    padding: 10px 0px; 
}

.nano > .nano-pane { 
    width: 12px;
    background: #333; 
    z-index: 10;
    opacity: 1;
}

.nano > .nano-pane > .nano-slider { 
    background: #00b0dd; 
}
/* END NANO SCROLLBAR ON TEXTURE TAB */

/* BOOTSTRAP - THEME */
.panel-default > .panel-heading {
    color: #bbb;
    background-color: #444;
    background-image: -webkit-linear-gradient(top, #050505 0%, #181818 100%);
    background-image: linear-gradient(to bottom, #050505 0%, #181818 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff050505', endColorstr='#ff181818', GradientType=0);
}

.panel-default {
    border-color: #404040;
}

.panel {
    background-color: #222;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-color: #404040;
}

.panel-body .object_edit_label {
    width: 10%;
}

/* END BOOTSTRAP - THEME */

/* COLORPICKER */
.cp-app {
    margin-left: -68px;
}

