<div>
    <!-- MOVEMENT TAB -->
    <div data-panel-toggle-tab data-name="MOVEMENT" id='objectEditTab'></div>
    <!-- movement panel -->
    <div class="innerPanel">
        <div class="innerPanelHeading">
            <h5>
                Movements (Position &amp; Scale)
            </h5>
        </div>
        <div ng-show="selectedType === ''">
            <h5 class="centered">Select an object</h5>
        </div>
        <div ng-controller="EditPanelAccordionController" class="nano" ng-show="selectedType !== ''">
            <div data-accordion data-close-others="onlyOneOpen" class="nano-content">
                <accordion-group
                    is-open="openTop"
                    heading="Scale">
                    <div class="panel_row a_type">
                        <h5>Scale</h5>
                        <label>
                            0.01<br>
                            <input type="radio" ng-model="const.OBJECT_SCALE_CHANGE" value=0.01>
                        </label>
                        <label>
                            0.05<br>
                            <input type="radio" ng-model="const.OBJECT_SCALE_CHANGE" value=0.05>
                        </label>
                        <label>
                            0.1<br>
                            <input type="radio" ng-model="const.OBJECT_SCALE_CHANGE" value=0.1>
                        </label>
                        <label>
                            0.5<br>
                            <input type="radio" ng-model="const.OBJECT_SCALE_CHANGE" value=0.5>
                        </label>
                        <label>
                            1.0<br>
                            <input type="radio" ng-model="const.OBJECT_SCALE_CHANGE" value=1.0>
                        </label>
                    </div>

                    <div ng-controller="MeshEditScaleController">
                        <div class="panel_row b_type">
                            <label>
                                X:
                                <input class="left_middle" type="text" ng-model="selected.scale.x">
                            </label>
                            <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decScaleX();"></span>
                            <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incScaleX();"></span>
                        </div>
                        <div class="panel_row b_type">
                            <label>
                                Y:
                                <input class="left_middle" type="text" ng-model="selected.scale.y">
                            </label>
                            <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decScaleY();"></span>
                            <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incScaleY();"></span>
                        </div>
                        <div class="panel_row b_type">
                            <label>
                                Z:
                                <input class="left_middle" type="text" ng-model="selected.scale.z">
                            </label>
                            <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decScaleZ();"></span>
                            <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incScaleZ();"></span>
                        </div>
                        <div class="panel_row b_type">
                            <label>
                                R<sup><i>n</i></sup>:
                                <input class="r_group left_middle" type="text" ng-model="selected.scale.x" disabled>
                                <input class="r_group left_middle" type="text" ng-model="selected.scale.y" disabled>
                                <input class="r_group left_middle" type="text" ng-model="selected.scale.z" disabled>
                            </label>
                            <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decScaleX();
                                                decScaleY();
                                                decScaleZ();"></span>
                            <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incScaleX(); incScaleY(); incScaleZ();"></span>
                        </div>
                    </div>
                </accordion-group>

                <accordion-group
                    heading="Position">
                    <div class="panel_row a_type">
                        <h5>Position</h5>
                        <label>
                            0.01<br>
                            <input type="radio" ng-model="const.OBJECT_MOVE_SPEED" value=0.01>
                        </label>
                        <label>
                            0.05<br>
                            <input type="radio" ng-model="const.OBJECT_MOVE_SPEED" value=0.05>
                        </label>
                        <label>
                            0.1<br>
                            <input type="radio" ng-model="const.OBJECT_MOVE_SPEED" value=0.1>
                        </label>
                        <label>
                            0.5<br>
                            <input type="radio" ng-model="const.OBJECT_MOVE_SPEED" value=0.5>
                        </label>
                        <label>
                            1.0<br>
                            <input type="radio" ng-model="const.OBJECT_MOVE_SPEED" value=1.0>
                        </label>
                    </div>

                    <div ng-controller="MeshEditPositionController">
                        <div class="panel_row b_type">
                            <label>
                                X:
                                <input class="left_middle" type="text" ng-model="selected.position.x">
                            </label>
                            <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decPosX();"></span>
                            <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incPosX();"></span>
                        </div>
                        <div class="panel_row b_type">
                            <label>
                                Y:
                                <input class="left_middle" type="text" ng-model="selected.position.y">
                            </label>
                            <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decPosY();"></span>
                            <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incPosY();"></span>
                        </div>
                        <div class="panel_row b_type">
                            <label>
                                Z:
                                <input class="left_middle" type="text" ng-model="selected.position.z">
                            </label>
                            <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decPosZ();"></span>
                            <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incPosZ();"></span>
                        </div>
                    </div>

                </accordion-group>

                <accordion-group
                    heading="Rotation">
                    <div class="panel_row a_type">
                        <h5>Rotation</h5>
                        <label>
                            1.0<br>
                            <input type="radio" ng-model="const.OBJECT_ROTATE_DEGREES" value=1.0>
                        </label>
                        <label>
                            5.0<br>
                            <input type="radio" ng-model="const.OBJECT_ROTATE_DEGREES" value=5.0>
                        </label>
                        <label>
                            15<br>
                            <input type="radio" ng-model="const.OBJECT_ROTATE_DEGREES" value=15>
                        </label>
                        <label>
                            30<br>
                            <input type="radio" ng-model="const.OBJECT_ROTATE_DEGREES" value=30>
                        </label>
                        <label>
                            90<br>
                            <input type="radio" ng-model="const.OBJECT_ROTATE_DEGREES" value=90>
                        </label>
                    </div>

                    <div ng-controller="MeshEditRotationController">
                        <div>
                            <span>Radians</span>
                            <div class="panel_row b_type">
                                <label>
                                    X:
                                    <input class="left_middle" type="text" ng-model="selected.rotation.x" disabled>
                                </label>
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decDegX();"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incDegX();"></span>
                            </div>
                            <div class="panel_row b_type">
                                <label>
                                    Y:
                                    <input class="left_middle" type="text" ng-model="selected.rotation.y" disabled>
                                </label>
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decDegY();"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incDegY();"></span>
                            </div>
                            <div class="panel_row b_type">
                                <label>
                                    Z:
                                    <input class="left_middle" type="text" ng-model="selected.rotation.z" disabled>
                                </label>
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decDegZ();"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incDegZ();"></span>
                            </div>
                        </div>

                        <div>
                            <span>Degrees</span>
                            <div class="panel_row b_type">
                                <label>
                                    X:
                                    <input class="left_middle" type="text" ng-change="updateRotation();" ng-model="selected.degrees.x">
                                </label>
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decDegX();"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incDegX();"></span>
                            </div>
                            <div class="panel_row b_type">
                                <label>
                                    Y:
                                    <input class="left_middle" type="text" ng-change="updateRotation();" ng-model="selected.degrees.y">
                                </label>
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decDegY();"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incDegY();"></span>
                            </div>
                            <div class="panel_row b_type">
                                <label>
                                    Z:
                                    <input class="left_middle" type="text" ng-change="updateRotation();" ng-model="selected.degrees.z">
                                </label>
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decDegZ();"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incDegZ();"></span>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </div>
        </div>
    </div>


    <!-- MATERIAL TAB -->
    <div data-panel-toggle-tab data-name="MATERIAL" id='materialEditTab'></div>
    <!-- material panel -->
    <div class="innerPanel">
        <div class="innerPanelHeading">
            <h5>
                Material (Mesh Material Settings)
            </h5>
        </div>
        <div ng-show="selectedType !== 'Mesh'">
            <h5 class="centered">Select a primitive object</h5>
        </div>
        <div ng-controller="MaterialEditController" ng-show="selectedType === 'Mesh'">
            <div data-accordion >
                <accordion-group
                    is-open="openTop"
                    heading="Material">
                    <div>
                        <div class="panel_row c_type">
                            <h5>
                                Type: {{material.type}}
                            </h5><br>
                        </div>
                        <div class="panel_row c_type">
                            <label>
                                <span>Name:</span>
                                <input ng-model="material.name" type="text">
                            </label>
                        </div>
                        <div class="panel_row c_type">
                            <label>
                                <span>Color:</span>
                                <input ng-model="colors.color" ng-change="setColor();" type="color" style="background-color: {{colors.color}};">
                            </label>
                        </div>
                        <div class="panel_row c_type">
                            <label>
                                <span>Emissive:</span>
                                <input colorpicker ng-model="colors.emissive" type="text" ng-change="setEmissive();" style="background-color: {{colors.emissive}};">
                            </label>
                        </div>
                        <div class="panel_row d_type">
                            <label>Fog:</label>
                            <div>
                                <label>
                                    true
                                    <input type="radio" ng-model="material.fog" data-ng-value="true">
                                </label>
                                <label>
                                    false
                                    <input type="radio" ng-model="material.fog" data-ng-value="false">
                                </label>
                            </div>
                        </div>
                        <div class="panel_row d_type">
                            <label>Transparent:</label>
                            <div>
                                <label>
                                    true
                                    <input type="radio" ng-model="material.transparent" data-ng-value="true">
                                </label>
                                <label>
                                    false
                                    <input type="radio" ng-model="material.transparent" data-ng-value="false">
                                </label>
                            </div>
                        </div>
                        <div class="panel_row c_type">
                            <label>
                                <span>Opacity:</span>
                                <input type="number" ng-model="material.opacity" step="0.1" min="0" max="1" style="padding-right: 0px;">
                            </label>
                        </div>
                        <!-- testing using icons rather than the number spinner
                        <div class="panel_row e_type">
                            <div>
                                <span class="panel_label">Opacity:</span>
                                <input class="left_middle" type="text" ng-model="material.opacity">
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="material.opacity = material.opacity - 0.1;"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="material.opacity += 0.1;"></span>
                            </div>
                        </div>-->
                        <div class="panel_row c_type">
                            <label>                                <span>Shininess:</span>
                                <input type="number" ng-model="material.shininess" step="1" min="1" max="100" style="padding-right: 0px;">
                            </label>
                        </div>
                        <!-- specular -->
<!--                        <div class="panel_row c_type">
                            <label>
                                <span>Shading:</span>
                                <select ng-model="material.flatShading" ng-options="shading.value as shading.label for shading in shadings"></select>
                            </label>
                        </div>-->
                        <div class="panel_row d_type">
                            <label>FlatShading</label>
                            <div>
                                <label>
                                    true
                                    <input type="radio" ng-model="material.flatShading" data-ng-value="true">
                                </label>
                                <label>
                                    false
                                    <input type="radio" ng-model="material.flatShading" data-ng-value="false">
                                </label>
                            </div>
                        </div>
                        <div class="panel_row c_type">
                            <label>
                                <span>Side:</span>
                                <select ng-model="material.side" ng-options="side.value as side.label for side in sidings"></select>
                            </label>
                        </div>
                        <div class="panel_row c_type">
                            <label>
                                <span>Specular:</span>
                                <input colorpicker ng-model="colors.specular" type="text" ng-change="setSpecular();" style="background-color: {{colors.specular}};">
                            </label>
                        </div>
                        <div class="panel_row c_type">
                            <label>
                                <span>Vertex Colors:</span>
                                <select ng-model="material.side" ng-options="vcolor.value as vcolor.label for vcolor in vertexColors"></select>
                            </label>
                        </div>
                        <div class="panel_row d_type">
                            <label>Visible:</label>
                            <div>
                                <label>
                                    true
                                    <input type="radio" ng-model="material.visible" data-ng-value="true">
                                </label>
                                <label>
                                    false
                                    <input type="radio" ng-model="material.visible" data-ng-value="false">
                                </label>
                            </div>
                        </div>
                    </div>
                </accordion-group>

                <accordion-group
                    heading="Map Offset &amp; Repeat"
                    ng-show="selected.material.map">
                    <div>
                        <div class="panel_row a_type">
                            <h5>Map Offset</h5>
                            <label>
                                0.01<br>
                                <input type="radio" ng-model="const.OBJECT_OFFSET_CHANGE" value=0.01>
                            </label>
                            <label>
                                0.05<br>
                                <input type="radio" ng-model="const.OBJECT_OFFSET_CHANGE" value=0.05>
                            </label>
                            <label>
                                0.1<br>
                                <input type="radio" ng-model="const.OBJECT_OFFSET_CHANGE" value=0.1>
                            </label>
                            <label>
                                0.5<br>
                                <input type="radio" ng-model="const.OBJECT_OFFSET_CHANGE" value=0.5>
                            </label>
                            <label>
                                1.0<br>
                                <input type="radio" ng-model="const.OBJECT_OFFSET_CHANGE" value=1.0>
                            </label>
                        </div>
                        <div ng-controller="MeshEditTextureOffsetController">
                            <div class="panel_row b_type">
                                <label>
                                    X:
                                    <input class="left_middle" type="text" ng-model="selected.material.map.offset.x">
                                </label>
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decOffsetX();"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incOffsetX();"></span>
                            </div>
                            <div class="panel_row b_type">
                                <label>
                                    Y:
                                    <input class="left_middle" type="text" ng-model="selected.material.map.offset.y">
                                </label>
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decOffsetY();"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incOffsetY();"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel_row a_type">
                            <h5>Map Repeat</h5>
                            <label>
                                0.01<br>
                                <input type="radio" ng-model="const.OBJECT_REPEAT_CHANGE" value=0.01>
                            </label>
                            <label>
                                0.05<br>
                                <input type="radio" ng-model="const.OBJECT_REPEAT_CHANGE" value=0.05>
                            </label>
                            <label>
                                0.1<br>
                                <input type="radio" ng-model="const.OBJECT_REPEAT_CHANGE" value=0.1>
                            </label>
                            <label>
                                0.5<br>
                                <input type="radio" ng-model="const.OBJECT_REPEAT_CHANGE" value=0.5>
                            </label>
                            <label>
                                1.0<br>
                                <input type="radio" ng-model="const.OBJECT_REPEAT_CHANGE" value=1.0>
                            </label>
                        </div>
                        <div ng-controller="MeshEditTextureRepeatController">
                            <div class="panel_row b_type">
                                <label>
                                    X:
                                    <input class="left_middle" type="text" ng-model="selected.material.map.repeat.x">
                                </label>
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decRepeatX();"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incRepeatX();"></span>
                            </div>
                            <div class="panel_row b_type">
                                <label>
                                    Y:
                                    <input class="left_middle" type="text" ng-model="selected.material.map.repeat.y">
                                </label>
                                <span class="glyphicon glyphicon-circle-arrow-down left_middle" ng-click="decRepeatY();"></span>
                                <span class="glyphicon glyphicon-circle-arrow-up left_middle" ng-click="incRepeatY();"></span>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </div>
        </div>
    </div>


    <!-- TEXTURES TAB -->
    <div data-panel-toggle-tab data-name="TEXTURE" id='textureEditTab'></div>
    <!-- texture panel -->
    <div class="innerPanel">
        <div class="innerPanelHeading">
            <h5>
                Textures (Primitive Objects) {{selectedType}}
            </h5>
        </div>
        <div id="textureConstraint" >
            <div id="textureView" data-msd-wheel="test2($event, $delta, $deltaX, $deltaY)">
                <div class="textureChoice" ng-repeat="media in textureList">
                    <img class="texture" ng-src="{{media}}" ng-class="{'select-enabled':!applyIsDisabled()}" ng-click="applyTexture(media);"/>
                    <div class="textureControls">
<!--                        <span class="glyphicon glyphicon-remove textureButtonUndo" ng-click="cancelTexture();" ng-show="showRemoveTexture(media);"></span>-->
                        <button type="button" class="btn btn-danger textureButton" ng-click="cancelTexture();" ng-disabled="applyIsDisabled();">X</button>
<!--                        <button type="button" class="btn btn-primary textureButton" ng-click="applyTexture(media);" ng-disabled="applyIsDisabled();">Apply</button>-->
                        <button type="button" class="btn btn-primary textureButton" ng-click="confirmTexture(media);" ng-disabled="applyIsDisabled();">Confirm</button>
<!--                        <span class="glyphicon glyphicon-save textureButtonSave" ng-click="confirmTexture(media);" ng-show="showConfirmTexture(media);" alt="Confirm"></span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- CREATE TAB -->
    <div data-panel-toggle-tab data-name="CREATE" id='createTab'></div>
    <!-- create panel -->
    <div class="innerPanel">
        <div class="innerPanelHeading">
            <h5>
                Create (Primitive Objects)
            </h5>
        </div>
        <div id="objectCreate" ng-controller="MeshEditCreateController">
            <div data-accordion >
                <accordion-group is-open="openTop" heading="Primitives">
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('box');">Box Geometry</button>
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('icosahedron');">Icosahedron Geometry</button>
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('circle');">Circle Geometry</button>
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('cylinder');">Cylinder Geometry</button>
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('dodecahedron');">Dodecahedron Geometry</button>
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('octahedron');">Octahedron Geometry</button>
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('plane');">Plane Geometry</button>
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('ring');">Ring Geometry</button>
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('sphere');">Sphere Geometry</button>
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('tetrahedron');">Tetrahedron Geometry</button>
                </accordion-group>
                <accordion-group heading="Models">
                    <select class="editPanelSelect" ng-model="selectedModel" ng-options="modelChoice.name for modelChoice in modelList" ng-change="displayChanged(selectedModel);"></select>
                    <button type="button" class="btn btn-primary createButton" ng-click="createNewObject('collada');">Collada Model</button>
                </accordion-group>
            </div>
            <!--<button type="button" class="btn btn-primary createButton" ng-click="createNewObject('text');">Text Geometry</button>-->
        </div>
    </div>
</div>
