<!DOCTYPE html>
<html ng-app="clockworkApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title ng-bind="pageTitle"></title>
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="./favicon.ico" />

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css">

        <!-- Clockwork CSS -->
        <link rel="stylesheet" href="css/clockwork.css" >

        <script src="libs/angular_1.8/angular.min.js" type="text/javascript"></script>
        <script src="libs/angular_1.8/angular-cookies.min.js" type="text/javascript"></script>
        <script src="libs/angular_1.8/angular-resource.min.js" type="text/javascript"></script>

        <script src="libs/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

        <!--        <script src="libs/cannon.js-0.6.2/cannon.min.js" type="text/javascript"></script>-->
        <script src="libs/cannon.js-0.6.2/cannon.js" type="text/javascript"></script>

        <!-- Angular Modules-->
        <script src="js/clockworkControllers.js" type="text/javascript"></script>
        <script src="js/clockworkConfig.js" type="text/javascript"></script>
        <script src="js/clockworkDirectives.js" type="text/javascript"></script>
        <script src="js/clockworkFilters.js" type="text/javascript"></script>
        <script src="js/clockworkDataService.js" type="text/javascript"></script>
        <script src="js/clockworkObjectStore.js" type="text/javascript"></script>
        <script src="js/clockworkEditEvents.js" type="text/javascript"></script>
        <script src="js/clockworkEditActions.js" type="text/javascript"></script>
        <script src="js/clockworkUtilities.js" type="text/javascript"></script>
        <script src="js/clockworkTemplater.js" type="text/javascript"></script>
        <script src="js/clockworkThreeScene.js" type="text/javascript"></script>
        <script src="js/cannonPhysics.js" type="text/javascript"></script>
        <script src="js/cannonControls.js" type="text/javascript"></script>
        <script src="js/cannonBoxes.js" type="text/javascript"></script>
        <script src="js/cannonBullets.js" type="text/javascript"></script>
        <script src="js/cannonShapes.js" type="text/javascript"></script>

        <!-- Primary entrance-->
        <script src="js/clockworkApp.js"></script>

        <!-- Minified-->
        <!-- <script src="build/clockwork.min.js"></script>-->
    </head>
    <body resize
          ng-controller="ClockworkController">

        <div id="clockworkTools">
            <span class="title">ThreeClockwork</span>
            <div id="toolIcons" class="ng-scope">
                <span class="menuButton" ng-class="cannonActive? 'active' : 'disabled' " id="cannonClicker" ng-click="toggleCannon($event);">Cannon</span>
                <span class="menuButton active" id="editButton" ng-click="toggleEditingInterface($event);">Edit</span>
                <span class="menuButton active" id="saveButton" ng-click="saveScene();">Save</span>
            </div>
        </div>


        <div data-three-stats></div>

        <div id="clockwork"
             tabindex="0"
             ng-controller="SceneController"
             ng-keydown="handleKeydown($event);"
             ng-keyup="handleKeyup($event);"
             ng-mousedown="handleMousedown($event);"></div>

        <div data-object-edit-panel id="objectEditPanel" ng-show="editorVisible"></div>

        <span data-app-version></span>

        <!-- Core ThreeJS, Angular and Bootstrap Libs -->
        <script src="libs/three_138/three.js" type="text/javascript"></script>
        <script src="libs/three_138/stats.min.js" type="text/javascript"></script>
        <script src="libs/three_138/loaders/ColladaLoader.js" type="text/javascript"></script>
        <script src="libs/three_138/loaders/OBJLoader.js" type="text/javascript"></script>

        <!-- Main -->
        <!-- <script src="js/clockworkApp.js"></script> -->
    </body>
</html>
